# MPS-04P (power switch) — MAX32690 + ADIN6310

# Copyright (c) 2024 Analog Devices, Inc.
# SPDX-License-Identifier: Apache-2.0

config BOARD_MPS04P
	select SOC_MAX32690_M4 if BOARD_MPS04P_MAX32690_M4
