# Copia este archivo a  tools/provision.env  y rellena los valores.
# provision.env esta en .gitignore y NO se versiona.

# Clave sudo del CM5 (TPU)
CM5_PASS='cambiame'

# IP del CM5 (por WiFi, wlan0)
CM5_IP='172.16.10.109'

# WiFi al que se conecta el CM5 en la Fase 0
WIFI_SSID='cambiame'
WIFI_PASS='cambiame'
